.dropdown-container {
  min-width: 130px;
  position: absolute;
  top: 50px;
  right: 5px;
  border: 1.5px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: var(--primary-color);
  cursor: default;
  animation: fadeIn 500ms forwards;
}

.dropdown-item {
  padding: 5px 8px;
  transition: background-color 500ms;
  &:hover {
    background-color: var(--secondary-color);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
