.heart-button-container {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
}

.white-heart {
  color: var(--white-color);
}

.red-heart {
  color: var(--red-light-color);
}

.opacity-heart {
  opacity: 0.5;
}
