.container {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: 4px;
  padding-right: 4px;
}

.is-main-page {
  padding-top: 170px;
  padding-bottom: 50px;
}

.is-other-page {
  padding-top: 100px;
  padding-bottom: 50px;
}
